


h2 {
    text-align: center;
    color: #463320;
}

.containerSymbols {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.itemCountBtn {
       padding: 5px 15px;
        color: white;
        max-width: 150px;
        background-color: #8a6642;
        border-radius: 5px;
        font-weight: bolder;
}

.itemCountBtnS {
    width: 2rem;
     color: white;
     background-color: #8a6642;
     border-radius: 5px;
     font-weight: bolder;

     margin: 10px 1.15rem;

}